.contanier {
    width: calc(100% - 10rem);
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

div[class^="col-"] {
    padding: size(10);
    margin: size(10);
}

$columns: 12;

@for $i from 1 through $columns {
    .col-#{$i} {
        flex:0 0 calc(100% / #{$columns} * #{$i} - 40px);
    }
}